.b {
    //position: relative;
    width: 100%;
    //height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: none;
    background-image: url("./assets/images/hero.jpg");
    overflow: hidden;
    @media screen and (min-width: 800px) {
        background-attachment: fixed;
    }
}


.b-hero {
    //z-index: 0;
    width: 100%;
    height: 100vh;
    background: rgba(170, 89, 57, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    p {
        color: $color-light;
        text-align: center;
        letter-spacing: 2px;
        margin: 0;
        font-family: $font-italic;
        font-weight: bold;
        padding: 10px 0;
        animation: uglyAnimatione 2.3s ease-in-out; //cubic-bezier(0, 0.23, 1, .1) infinite;
        @media screen and (min-width: 400px) {
            text-align: right;
        }
    }

    img {
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        object-position: center;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        @media screen and (min-width: 800px) {
            object-position: center;
        }
    }

    &__content {
        max-width: 750px;
        width: 100%;
        padding: 0 10px;
        @media screen and (min-width: 400px) {
            width: 80%;
            padding: 0;
        }
        @media screen and (min-width: 800px) {
            width: 50%;
            padding: 0;
        }
        @media screen and (min-width: 1600px) {
            //transition: scale(3vh);
        }
    }
}
$dash: 500;
/* SVG --- Hero ---*/
.wrapper {
    //transform: translateY(-140%);
    // height: 100%;
    // width: 100%;
    z-index: -1;
    display: flex;
    flex-direction: column;
    @media screen and(min-width:800px) {
        transform: scale(1.2vh);
    }



    path {
        stroke: $color-light;
        fill: $color-red;
        stroke-dasharray: $dash;
        opacity: 10;
        animation: animate 3s ease-in-out; //cubic-bezier(0, 0.23, 1, .1) infinite;
        box-shadow: 4px 0 $color-red-dark;
    }

    .st0 {
        stroke: #ffe1ba;
        stroke-width: 3;
        stroke-miterlimit: 10;
    }
    @keyframes animate {
        0% {
            fill: transparent;
            stroke-dashoffset: $dash;
            stroke: $color-red-dark;
        }

        30% {
            stroke: $color-red;
        }

        80% {
            fill: transparent;
        }

        90% {
            stroke-dashoffset: 0;
            fill: $color-red;
        }
    }
    @keyframes uglyAnimatione {
        0% {
            opacity: 0;
        }

        80% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}
