//background-image: url("./images/texture.jpg");

.b-band {
    background-image: url("./assets/images/texture.jpg");
    padding: 40px 20px;
    border-top: 30px solid $color-red;
    @media screen and (min-width: 800px) {
        padding: 60px $spacing-regular;
    }

     h2 {
        margin: 0;
        text-align: center;
        color: $color-red;
        font-size: 50px;
        letter-spacing: 2px;
    }

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: $width-content;
        margin: 0 auto;
    }



    &__member {
        background: $color-white;
        display: flex;
        flex-direction: column;
        width: 30%;
        min-width: 320px;
        max-width: 100%;
        padding: 10px;
        margin: 10px;
        box-shadow: 2px 2px 4px #3e3e3e99;

        &-img {
            height: 320px;
            object-fit: cover;
            width: 100%;
            filter:grayscale(1);
            //transition: 0.4s;
            &:hover {
                //filter:grayscale(0.4);
            }
        }

        &-info {
            position: relative;
            padding: 10px;

            h3 {
                color: #a15c43;
                margin: 0;
                position: absolute;
                top: -30px;
                left: -20px;
                box-shadow: 2px 2px 4px #3e3e3e99;
                padding: 5px 10px;
                font-size: 24px;
                letter-spacing: 1px;
                display: inline-block;
                background: $color-gray;
            }

            p {
                font-weight: 500;
                margin-top: 0;
            }

            .b-band__member-instrument {
                margin-top: 20px;
                margin-bottom: 10px;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: bold;
            }
        }
    }
}
