@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Satisfy');

$font-headline: 'Staatliches', cursive, sans-serif;
$font-base: 'Open Sans', sans-serif;
$font-italic: 'Satisfy', cursive;
