@import './hamburger/hamburger.scss';

header {
    display: block;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.b-header {
    position: fixed;
    z-index: 10;
    top: 0;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    transition: 0.5s ease;
    background-color: $color-dark;
    @media screen and (min-width: 800px) {
        position: fixed;
        justify-content: center;
    }
    @media screen and (min-width: 2300px) {
        padding: 40px 0;
    }

    &__container {
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        min-height: 100vh;
        padding: 54px 20px 50px;
        transition: left 0.4s ease;
        background: $color-red;
        @media screen and (min-width: 800px) {
            position: static;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            min-height: 10px;
            padding: 0;
            background: $color-dark;
        }

        li {
            font-family: inherit;
            font-family: $font-headline;
            margin-left: 10px;
            padding: 0;
            cursor: pointer;
            transition: color 0.2s ease;
            letter-spacing: 1px;
            color: $color-light;
            @media screen and (min-width: 800px) {
                font-size: 20px;
                margin-left: 20px;
            }

            &:hover {
                color: $color-red-light;
            }

            a {
                font-family: inherit;
                font-size: 40px;
                letter-spacing: 1px;
                color: inherit;
                outline: none;
                @media screen and (min-width: 800px) {
                    font-size: 20px;
                }
            }
        }

        &--active {
            left: 0;
        }
        @media screen and (min-width: 800px) {
            // padding: 20px 20px;
        }
    }

    &__logo-wrapper {
        display: block;
        width: 80px;
        height: auto;
        padding: 0;
        cursor: pointer;
        outline: none;
        @media screen and (min-width:800px) {
            width: 100px;
        }

        path {
            outline: none;
            stroke: none;
            fill: $color-light;
        }
    }

    &__container-meny {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        justify-content: flex-end;
        list-style-type: none;
        transition: 1s;
        @media screen and (min-width: 800px) {
            display: inline-flex;
            align-items: flex-end;
            flex-direction: row;
        }

        li {
            @media screen and (min-width: 800px) {
                display: inline-flex;
                flex-wrap: wrap;
            }

            a {
                text-decoration: none;
                letter-spacing: 1px;
                color: $color-light;
                //font-size: 25px;
                // padding: 20px;
                //text-align: left;
                outline: none;
                @media screen and (min-width: 800px) {
                    //    padding: 0 10px;
                    //font-size: 20px;
                }

                &:hover {
                    color: #ffcf99;
                }
            }
        }
    }
}

.hidden {
    position: fixed;
    top: -80px;
    padding: 0;
}

.small {
    padding: 0;
}

.selected {
    color: lime;
}
