@import "./hamburger/hamburger.scss";

.b-header {
    z-index: 10;
    position: fixed;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    transition: 0.4s ease;
    background-color: $color-dark;
    @media screen and (min-width: 800px) {
        position: fixed;
        justify-content: center;
    }


    &__container {
        position: absolute;
        width: 100%;
        background: $color-red;
        padding: 80px 20px 50px;
        top: 0;
        left: 100%;
        transition: left 0.4s ease;
        min-height: 100vh;
        @media screen and (min-width: 800px) {
            position: static;
            background: $color-dark;
            min-height: 10px;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }

        li {
            margin-left: 10px;
            cursor: pointer;
            font-family: inherit;
            padding: 0;
            letter-spacing: 1px;
            font-size: 40px;
            color: $color-light;
            font-family: $font-headline;
            transition: color 0.2s ease;
            @media screen and (min-width: 800px) {
                font-size: 20px;
                margin-left: 20px;
            }

            &:hover {
                color: $color-red-light;
            }

            a {
                letter-spacing: 1px;
                font-size: 40px;
                color: inherit;
                font-family: inherit;
                @media screen and (min-width: 800px) {
                    font-size: 20px;
                }
            }
        }

        &--active {
            left: 0;
        }
        @media screen and (min-width: 800px) {
            // padding: 20px 20px;
        }
    }

    &__logo-wrapper {
        cursor: pointer;
        display: block;
        width: 80px;
        height: auto;
        padding: 0;
        @media screen and (min-width:800px) {
            width: 100px;
        }

        path {
            stroke: none;
            fill: $color-light;
        }
    }

    &__container-meny {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        transition: 1s;
        @media screen and (min-width: 800px) {
            display: inline-flex;
            flex-direction: row;
            align-items: flex-end;
        }

        li {
            @media screen and (min-width: 800px) {
                display: inline-flex;
                flex-wrap: wrap;
            }

            a {
                //font-size: 25px;
                // padding: 20px;
                //text-align: left;
                text-decoration: none;
                letter-spacing: 1px;
                color: $color-light;
                @media screen and (min-width: 800px) {
                    //    padding: 0 10px;
                    //font-size: 20px;
                }

                &:hover {
                    color: #ffcf99;
                }
            }
        }
    }
}
.big {
    padding:0px;
}
