.b-tour {
    background-image: url("./assets/images/texture.jpg");
    //background: linear-gradient(45deg, #ffe8cc 0%,#ffce93 100%);
    border-top: 30px solid $color-red;
    //border-bottom: 30px solid $color-red;
    padding: $spacing-regular 5px;
    @media screen and (min-width: 800px) {
        padding: 60px $spacing-regular;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 940px;
        width: 100%;
        margin: 0 auto;
    }

    h2 {
        margin: 0;
        text-align: center;
        padding: $spacing-regular;
        font-weight: 800;
        letter-spacing: 2px;
    }

    &__container {
        //background-color: $color-red;
        width: 100%;
        padding: 10px;
        //box-shadow: 2px 2px $color-dark;
        // box-shadow: 2px 2px 4px #312d2d94;
        @media screen and (min-width: 800px) {
            padding: 0 1em;
        }
    }

    &__dates {
        padding: 10px;
        //letter-spacing: 1px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        justify-content: center;
        // width: 100%;
        @media screen and (min-width: 800px) {
            padding: 0 1em;
            justify-content: column;
        }

        .tour-details {
            //font-weight: bold;
            //display: inline-block;
            //padding: $spacing-regular;
            text-align: center;
            margin: 0;
            padding: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: nowrap;
            align-items: center;
            @media screen and (min-width: 800px) {
                text-align: left;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                line-height: 1.4;
            }

            .info-tour {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                flex-wrap: wrap;
                text-align: left;
                padding: 0 10px;
                @media screen and (min-width: 800px) {
                    padding: 0;
                }

                span {}

                .location {
                    font-weight: 800;
                }
            }

            .date-tour {
                //margin-left: auto;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                align-items: flex-end;

                span {}
            }

            &:nth-child(odd) {
                background-color: $color-dark;
                color: $color-white;

                a {
                    color: $color-white;
                }
            }

            &:nth-child(even) {
                background-color: $color-white;

                a {
                    color: $color-dark;
                }
            }
        }
    }
}

.past {
    opacity: 0.3;
}
